
.name-user{
    font-family: f-semibold;
    font-size: 15px;
    color: #464646;
}

.alCorriente{
    font-family: f-regular;
    font-size: 13px;
    color: #147638;
    margin-left: 5px;
}

ion-badge{
    font-family: f-regular;
    font-size: 14px;
    color: #7E7B7B;
    background-color: transparent;
    margin-top: 35px;
}

.label-badge{
    font-family: f-semibold;
    font-size: 15px;
    color: #292929;
    margin-top: 35px;
}