<ion-content color="light">
  <ion-header color="light" mode="md">
      <ion-toolbar mode="md" color="light">
        <ion-row style="padding-left: 20px; padding-right: 20px" class="ion-align-items-center">
          <ion-col class="ion-no-padding titleService" size="auto">
            <ion-icon class="fs-px-18 titleService c-dark" (click)="glbFunc.back()" name="chevron-back"></ion-icon>
          </ion-col>
          <ion-col class="ion-no-padding titleService ion-text-center fs-px-18 f-regular c-dark" css="margin-bottom">
            Lista de Clientes
          </ion-col>
        </ion-row>
      </ion-toolbar>
      <div class="mt-20 input-gen-row">
          <ion-row class="ion-align-items-center">
                  <ion-col size="auto" style="padding-left: 25px;">
                      <ion-icon name='search-outline'></ion-icon>
                  </ion-col>
                  <ion-col class="ion-no-padding">
                      <ion-input [(ngModel)]="user.email" mode="md" type="email" class="f-regular" placeholder="Buscar cliente..."></ion-input>
                  </ion-col>
              <ion-col size="auto" style="padding-right: 20px;">
                  <ion-icon name='calendar-clear-outline'></ion-icon>
              </ion-col>
          </ion-row>
      </div>

    </ion-header>
    <ion-content style="text-align: center; align-items: center;">
      <ion-list style="margin-left: 20px; margin-top: 20px; margin-right: 20px; border: none; ">
          <ion-item lines="none" (click)="glbFunc.irPage('client-profile')">
              <ion-avatar slot="start">
                <img src="assets/img/av-co.jpeg" alt="Avatar" />
              </ion-avatar>
            
              <ion-label>
                <h3>Manuel Rodriguez</h3>
                <br />
                <p mode="ios">
                  Ver detalles
                </p>
              </ion-label>
          </ion-item>
            
         <ion-item lines="none" (click)="glbFunc.irPage('client-profile')">
            <ion-avatar slot="start">
              <img src="assets/img/av-co.jpeg" alt="Avatar" />
            </ion-avatar>
          
            <ion-label>
              <h3>Manuel Rodriguez</h3>
              <br />
              <p mode="ios">
                Ver detalles
              </p>
            </ion-label>
          </ion-item>

        <ion-item lines="none" (click)="glbFunc.irPage('client-profile')">
            <ion-avatar slot="start">
              <img src="assets/img/av-co.jpeg" alt="Avatar" />
            </ion-avatar>
          
            <ion-label>
              <h3>Manuel Rodriguez</h3>
              <br />
              <p mode="ios">
                Ver detalles
              </p>
            </ion-label>

        </ion-item>
        
        <ion-item lines="none" (click)="glbFunc.irPage('client-profile')">
          <ion-avatar slot="start">
            <img src="assets/img/av-co.jpeg" alt="Avatar" />
          </ion-avatar>
        
          <ion-label >
            <h3>Manuel Rodriguez</h3>
            <br/>
            <p mode="ios">
              Ver detalles
            </p>
          </ion-label>
      
        </ion-item>
        
      </ion-list>
   </ion-content>
</ion-content>
