.menu {
    border-radius: 100%;
    width: 55px;
    height: 55px;
    border: 1px solid #EDEDED;
    position: relative;

    ion-icon {
        font-size: 24px;
        color: var(--ion-color-tertiary);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.close {
    border-radius: 100%;
    width: 55px;
    height: 55px;
    border: 1px solid #EDEDED;
    position: relative;

    ion-icon {
        font-size: 24px;
        color: var(--ion-color-tertiary);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.img-perfil {
    width: 45px;
    border-radius: 100%;
}

.header-noti {
    font-size: 30px;
    color: var(--ion-color-tertiary);
}

ion-searchbar {
    border: 1px solid #EDEDED;
    --background: var(--ion-color-light);
    font-size: 12px;
    border-radius: 15px;
    --highlight-color-focused: unset;
    --highlight-color-valid: unset;
    --highlight-color-invalid: unset;
    --highlight-color: unset;
    --padding-start: 20px;
    --padding-end: 20px;
    --min-height: 55px;
    color: #8D8D8D;
    padding: 0;
    padding-left: 18px;
    padding-right: 18px;

    input {
        background: var(--ion-color-light) !important;
    }

    .searchbar-input-container.sc-ion-searchbar-ios {
        min-height: 55px;
    }
}

.icons {
    display: flex;
    /* Alinea los iconos horizontalmente */
    gap: 80px;
    /* Espacio entre los iconos */
    align-items: center;
}


.searchbar-input {
    padding-inline-start: 40px;
}

.filter-menu {
    padding: 8px 20px;
    background: var(--ion-color-light);
    color: var(--ion-color-secondary);
    border: 1px solid var(--ion-color-secondary);
    border-radius: 30px;

    &.active {
        background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        border: 1px solid var(--ion-color-primary);
    }
}

.add-note {
    position: fixed;
    bottom: 20px;
    width: calc(100% - 40px);
    margin: auto;
    left: 0;
    right: 0;
}