<ion-content color="light">
    <ion-header color="light" mode="md">
        <ion-toolbar mode="md" color="light">
          <ion-row style="padding-left: 20px; padding-right: 20px" class="ion-align-items-center">
            <ion-col class="ion-no-padding titleService" size="auto">
              <ion-icon class="fs-px-18 titleService c-dark" (click)="glbFunc.irPage('home')" name="chevron-back"></ion-icon>
            </ion-col>
            <ion-col class="ion-no-padding titleService ion-text-center fs-px-18 f-regular c-dark" css="margin-bottom">
              Cobros Pendientes
            </ion-col>
          </ion-row>
        </ion-toolbar>
      

      </ion-header>
      <ion-content style="text-align: center; align-items: center;">
        <ion-list style="margin-left: 20px; margin-top: 20px; margin-right: 20px; border: none; ">
            <ion-item lines="none" (click)="glbFunc.irPage('/ticket-client')">
                <ion-avatar slot="start">
                  <img src="assets/img/av-co.jpeg" alt="Avatar" />
                </ion-avatar>
              
                <ion-label>
                  Manuel Rodriguez
                  <br />
                  <div style="display: inline-flex;" >
                    <ion-icon src="assets/img/ic-alerta.svg" style="width: 15px; height: 15px;"></ion-icon><p style="color: #DE0000; font-family: f-regular; font-size: 13px; margin-left: 5px;">Alerta de Moroso</p>
                    
                  </div>
                 <p style="font-family: f-regular; font-size: 13px; color: gray;">Ver Detalles</p>
                  
                </ion-label>
                <div style="display: flex; flex-direction: column;">
                  <p style="color: #FF9900; font-family: f-regular; font-size: 13px; text-align: right; margin-right: 5px;">Pago 3/15</p>
                  <ion-badge style="margin-right: 5px;">$15,000.00</ion-badge>
                </div>
                
              </ion-item>
              
              <ion-item lines="none" (click)="glbFunc.irPage('/ticket-client')">
                <ion-avatar slot="start">
                  <img src="assets/img/av-co.jpeg" alt="Avatar" />
                </ion-avatar>
              
                <ion-label>
                  Manuel Rodriguez
                  <br />
                  <div style="display: inline-flex;">
                    <ion-icon src="assets/img/ic-alerta.svg" style="width: 15px; height: 15px;"></ion-icon><p style="color: #DE0000; font-family: f-regular; font-size: 13px; margin-left: 5px;">Alerta de Moroso</p>
                    
                  </div>
                 <p style="font-family: f-regular; font-size: 13px; color: gray;">Ver Detalles</p>
                  
                </ion-label>
                <div style="display: flex; flex-direction: column;">
                  <p style="color: #FF9900; font-family: f-regular; font-size: 13px; text-align: right; margin-right: 5px;">Pago 3/15</p>
                  <ion-badge style="margin-right: 5px;">$15,000.00</ion-badge>
                </div>
                
              </ion-item>

              <ion-item lines="none" (click)="glbFunc.irPage('/ticket-client')">
                <ion-avatar slot="start">
                  <img src="assets/img/av-co.jpeg" alt="Avatar" />
                </ion-avatar>
              
                <ion-label>
                  Manuel Rodriguez
                  <br />
                  <div style="display: inline-flex;">
                    <ion-icon src="assets/img/ic-alerta.svg" style="width: 15px; height: 15px;"></ion-icon><p style="color: #DE0000; font-family: f-regular; font-size: 13px; margin-left: 5px;">Alerta de Moroso</p>
                    
                  </div>
                 <p style="font-family: f-regular; font-size: 13px; color: gray;">Ver Detalles</p>
                  
                </ion-label>
                <div style="display: flex; flex-direction: column;">
                  <p style="color: #FF9900; font-family: f-regular; font-size: 13px; text-align: right; margin-right: 5px;">Pago 3/15</p>
                  <ion-badge style="margin-right: 5px;">$15,000.00</ion-badge>
                </div>
                
              </ion-item>
          
              <ion-item lines="none" (click)="glbFunc.irPage('/ticket-client')">
                <ion-avatar slot="start">
                  <img src="assets/img/av-co.jpeg" alt="Avatar" />
                </ion-avatar>
              
                <ion-label>
                  Manuel Rodriguez
                  <br />
                  <div style="display: inline-flex;">
                    <ion-icon src="assets/img/ic-alerta.svg" style="width: 15px; height: 15px;"></ion-icon><p style="color: #DE0000; font-family: f-regular; font-size: 13px; margin-left: 5px;">Alerta de Moroso</p>
                    
                  </div>
                 <p style="font-family: f-regular; font-size: 13px; color: gray;">Ver Detalles</p>
                  
                </ion-label>
                <div style="display: flex; flex-direction: column;">
                  <p style="color: #FF9900; font-family: f-regular; font-size: 13px; text-align: right; margin-right: 5px;">Pago 3/15</p>
                  <ion-badge style="margin-right: 5px;">$15,000.00</ion-badge>
                </div>
                
              </ion-item>
        </ion-list>
     </ion-content>
</ion-content>
